body {
  font-family: 'Arial', sans-serif;
  background-color:rgb(251, 242, 225);
  margin: 0;
}

header {
  background-color: #f37021;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

.poke-logo {
  width: 200px;

}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: #d32f2f;
  font-weight: bold;
}

#searchInput {

  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#searchBtn, #prevBtn, #nextBtn, #resetBtn {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn {
  background-color: #4caf50;
  color: white;
}

#prevBtn, #nextBtn, #resetBtn {
  background-color: #2196F3;
  color: white;
}

#searchBtn:hover, #prevBtn:hover, #nextBtn:hover, #resetBtn:hover {
  opacity: 0.8;
}
ul{padding: 0%;}
li{padding: 0px;list-style-type: none;}
#contenedor{display: grid;grid-template-columns:repeat(5, 1fr);flex-direction: row;list-style-type: none};
.dentro{list-style-type: none;}
.pokemon{list-style-type: none;text-align: center;background-color: white;margin: 10px;width: 200px;height: 250px;}
.pokemon img{width:180px ;}
.ventana {
  display: block;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.imagen-pokemon{
  width: 200px;
  height: 150px;}
